@import './base/variables';
@import './base/mixins';
@import './base/initial';

@import './components/navbars';
@import './components/decorations';
@import './components/buttons';
@import './components/cards';
@import './components/bubbles';
@import './components/forms';
@import './components/tooltips';
@import './components/modals';

@import './pages/homepage';

@import './functionality/animations';
@import './functionality/classes';