.dark-mode {
    background-color: var(--dark-mode);
    color: var(--dark-mode-text);

    .header-main {
        background-color: var(--dark-mode);

        @include respond(max-width, $breakpoint-6) {
            nav {
                background-color: var(--dark-mode);
            }
        }       
    }

    .tech-details-list
    ,.tech-details-paragraph
    ,.homepage-contact-modal {
        background-color: var(--dark-mode-tech-card) !important;
    }

    input:not([type=submit])
    ,textarea {
        background-color: var(--dark-mode);
        border: 1px solid rgba(255,255,255,.25);
    }

    .footer-main {
        background-color: var(--dark-mode-footer);
    }
}