/* Layout */
/* Colors */
:root {
  --light-mode: #FFF;
  --light-mode-text:#444;
  --light-mode-card:#FDFDFD;
  --dark-mode:      #222;
  --dark-mode-text: #FFF;
  --dark-mode-card: #242424; }

/* Typography */
/* Effects */
/* Animations */
body, header, nav, div, a, svg
main, section, article, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  font-size: 10px; }

body {
  position: relative;
  overflow-x: hidden;
  padding: 0 5%;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-mode-text);
  direction: rtl;
  background-color: var(--light-mode); }

h1 {
  font-size: 9.6rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 2.4rem; }

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 4rem; }

p {
  margin-bottom: 2rem; }

a:link
, a:visited {
  color: var(--light-mode-text);
  text-decoration: none;
  display: inline-flex;
  align-items: center; }
  a:link
svg, a:visited svg {
    width: 1.44rem;
    height: 1.44rem;
    margin-right: 0.5rem; }

.header-main {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  padding: 0 5%;
  z-index: 1;
  background-color: var(--light-mode); }
  .header-main nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-main nav .nav-right a:not(:last-of-type) {
      margin-left: 6rem; }
    .header-main nav .nav-left {
      display: flex;
      align-items: center;
      direction: ltr; }
      .header-main nav .nav-left svg {
        cursor: pointer; }
        .header-main nav .nav-left svg#accessibility-icon {
          width: 2.25rem; }
        .header-main nav .nav-left svg#dark-mode-icon {
          width: 2.5rem; }
        .header-main nav .nav-left svg:not(:last-of-type) {
          margin-right: 3rem; }

h1, h2 {
  position: relative;
  transform: translateX(-2rem); }

h1::before
, h2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  padding: .2rem;
  border-radius: 5rem;
  background-color: #FFC491;
  transform: translateX(2rem); }

.btn {
  cursor: pointer;
  padding: .5rem 2rem;
  background-color: #FFC491;
  border: none;
  border-radius: 0.5rem; }

.homepage-grid {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  gap: 8rem 4rem;
  margin: 12rem 0; }
  .homepage-grid h1 {
    line-height: .75; }
  .homepage-grid .h1-secondary {
    display: block;
    font-size: 3.6rem; }
  .homepage-grid main p {
    min-width: 25rem;
    max-width: 45rem; }
  .homepage-grid main .btn {
    margin-left: 2rem; }
