/* Layout */
/* Colors */
:root {
  --light-mode: #FFF;
  --light-mode-text:#444;
  --light-mode-tech-card:#FDFDFD;
  --dark-mode:      #222;
  --dark-mode-text: #FFF;
  --dark-mode-tech-card: #242424; }

/* Typography */
/* Effects */
/* Animations */
body, header, nav, div, a, svg
main, section, article, aside
, h1, h2, h3, h4, p, ul, li {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  font-size: 10px; }

body {
  position: relative;
  padding: 0 5%;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-mode-text);
  direction: rtl;
  background-color: var(--light-mode); }

h1 {
  font-size: 9.6rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem; }

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 4rem; }

h3, h4 {
  margin-bottom: 1rem; }

p {
  margin-bottom: 2rem; }

a:link
, a:visited {
  color: currentColor;
  text-decoration: none;
  display: inline-flex;
  align-items: center; }
  a:link
svg, a:visited svg {
    width: 1.44rem;
    height: 1.44rem;
    margin-right: 0.5rem; }

ul {
  list-style: none; }

.highlight {
  color: var(--dark-mode);
  background-color: #FFC491;
  border-radius: 0.25rem; }

.header-main {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  padding: 0 5%;
  z-index: 1;
  background-color: var(--light-mode); }
  .header-main nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-main nav .nav-right a:not(:last-of-type) {
      margin-left: 6rem; }
    .header-main nav .nav-left {
      display: flex;
      align-items: center;
      direction: ltr; }
      .header-main nav .nav-left svg {
        cursor: pointer; }
        .header-main nav .nav-left svg#accessibility-icon {
          width: 2.25rem; }
        .header-main nav .nav-left svg#dark-mode-icon {
          width: 2.5rem; }
        .header-main nav .nav-left svg:not(:last-of-type) {
          margin-right: 3rem; }

/* Headings Mark */
h1, h2 {
  position: relative;
  transform: translateX(-2rem); }

h1::before
, h2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  padding: .2rem;
  border-radius: 5rem;
  background-color: #FFC491;
  transform: translateX(2rem); }

.btn
, .btn-inverse {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--light-mode-text);
  padding: .5rem 2rem;
  background-color: #FFC491;
  border: none;
  border-radius: 0.5rem; }

.btn-inverse {
  color: #FFC491;
  padding: .3rem 1.8rem;
  background-color: transparent;
  border: 0.2rem solid #FFC491; }

/* Tech Card */
.tech-card {
  max-width: 30rem;
  display: flex;
  align-items: center;
  transform: translate(3.5rem, 1.2rem); }
  .tech-card .tech-details-list
, .tech-card .tech-details-paragraph {
    width: 27.5rem;
    height: 11rem;
    text-align: left;
    padding: 1rem 2rem;
    background-color: var(--light-mode-tech-card);
    border-radius: 1rem;
    box-shadow: 0.75rem 0.75rem 1.25rem rgba(0, 0, 0, 0.06); }
  .tech-card .tech-details-paragraph {
    text-align: right;
    padding: 1rem 6rem 1rem 2rem; }
  .tech-card .tech-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .tech-card .tech-id .tech-name {
      position: absolute;
      transform: translate(-3.5rem, -125%); }
    .tech-card .tech-id .tech-img {
      width: 7rem;
      height: 7rem;
      position: relative;
      border-radius: 0.5rem;
      transform: translateX(-3.5rem); }
      .tech-card .tech-id .tech-img.html {
        background-color: #F26449; }
      .tech-card .tech-id .tech-img.css {
        background-color: #69C3FF; }
      .tech-card .tech-id .tech-img.sass {
        background-color: #F489B4; }
      .tech-card .tech-id .tech-img.js {
        background-color: #FFB433; }
      .tech-card .tech-id .tech-img.nodejs {
        background-color: #76CF55; }
      .tech-card .tech-id .tech-img.sql {
        background-color: #D790ED; }
      .tech-card .tech-id .tech-img.adobe-xd {
        background-color: #F489B4; }
      .tech-card .tech-id .tech-img.ps {
        background-color: #69C3FF; }
      .tech-card .tech-id .tech-img.ai {
        background-color: #FFB433; }
      .tech-card .tech-id .tech-img.git {
        background-color: #F26449; }
      .tech-card .tech-id .tech-img svg {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #FFF; }
      .tech-card .tech-id .tech-img.nodejs svg {
        width: 55%; }
      .tech-card .tech-id .tech-img.js svg, .tech-card .tech-id .tech-img.adobe-xd svg, .tech-card .tech-id .tech-img.ps svg, .tech-card .tech-id .tech-img.ai svg, .tech-card .tech-id .tech-img.git svg {
        width: 60%; }
      .tech-card .tech-id .tech-img.sass svg {
        width: 70%; }

/* Homepage Project Card */
.homepage-project-card {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  gap: 1rem 3rem; }
  .homepage-project-card .heading {
    grid-area: 1/1/2/2; }
  .homepage-project-card a {
    grid-area: 2/1/3/2; }
  .homepage-project-card p {
    grid-area: 2/2/3/3; }
  .homepage-project-card h4, .homepage-project-card p {
    margin: 0; }
  .homepage-project-card .heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    .homepage-project-card .heading h4 {
      font-size: 2rem; }
    .homepage-project-card .heading aside {
      padding: .2rem 1rem; }
  .homepage-project-card img {
    width: 100%; }

/* Resources Bubble */
.resources-bubble {
  width: 8rem;
  direction: ltr; }
  .resources-bubble a {
    display: inline-flex;
    flex-direction: column-reverse;
    text-align: center; }
    .resources-bubble a h4 {
      font-weight: 400; }
    .resources-bubble a svg
, .resources-bubble a img {
      width: 8rem;
      height: 8rem;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem; }
    .resources-bubble a img {
      object-fit: cover; }

.homepage-grid {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  column-gap: 4rem;
  margin: 12rem 0; }
  .homepage-grid h1 {
    line-height: .75; }
  .homepage-grid .h1-secondary {
    display: block;
    font-size: 3.2rem; }
  .homepage-grid main p {
    min-width: 25rem;
    max-width: 45rem; }
  .homepage-grid main .btn
, .homepage-grid main .btn-inverse {
    margin-left: 2rem; }
  .homepage-grid .homepage-tech
, .homepage-grid .homepage-projects {
    padding-top: 8rem; }
  .homepage-grid .homepage-resources-heading
, .homepage-grid .homepage-projects-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .homepage-grid .homepage-resources-heading
a, .homepage-grid .homepage-projects-heading a {
      transform: translateY(50%); }
  .homepage-grid .homepage-resources ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
  .homepage-grid .homepage-tech .tech-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    gap: 2rem; }
    .homepage-grid .homepage-tech .tech-cards-grid:not(:last-of-type) {
      margin-bottom: 4rem; }
  .homepage-grid .homepage-projects .homepage-project-card {
    margin-bottom: 4rem; }
    .homepage-grid .homepage-projects .homepage-project-card:nth-of-type(even) {
      direction: ltr; }
      .homepage-grid .homepage-projects .homepage-project-card:nth-of-type(even) .heading {
        flex-direction: row; }
      .homepage-grid .homepage-projects .homepage-project-card:nth-of-type(even) p {
        direction: rtl; }
    .homepage-grid .homepage-projects .homepage-project-card:last-of-type {
      margin-bottom: 8rem; }

.dark-mode {
  background-color: var(--dark-mode);
  color: var(--dark-mode-text); }
  .dark-mode .header-main {
    background-color: var(--dark-mode); }
  .dark-mode .tech-details-list
, .dark-mode .tech-details-paragraph {
    background-color: var(--dark-mode-tech-card) !important; }
