@charset "UTF-8";
/* Layout */
/* Colors */
:root {
  --light-mode: #FFF;
  --light-mode-text:#444;
  --light-mode-tech-card:#FDFDFD;
  --dark-mode:      #222;
  --dark-mode-text: #FFF;
  --dark-mode-tech-card: #242424; }

/* Typography */
/* Effects */
/* Animations */
body, header, nav, div, a, svg
main, section, article, aside
, h1, h2, h3, h4, p, ul, li, button
, form, input, textarea {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }
  body:focus, header:focus, nav:focus, div:focus, a:focus, svg
main:focus, section:focus, article:focus, aside:focus
, h1:focus, h2:focus, h3:focus, h4:focus, p:focus, ul:focus, li:focus, button:focus
, form:focus, input:focus, textarea:focus {
    outline: 2px solid rgba(255, 196, 145, 0.5); }

:root {
  font-size: 10px; }
  @media screen and (min-width: 2100px) {
    :root {
      font-size: 12px; } }

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-mode-text);
  direction: rtl;
  background-color: var(--light-mode); }

.body-container {
  padding: 0 5%;
  margin: auto; }

h1 {
  font-size: 9.6rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.6rem; }

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 4rem; }

h3, h4 {
  margin-bottom: 1rem; }

p {
  margin-bottom: 2rem; }

ul {
  list-style: none; }

a:link
, a:visited
, .btn-with-text-and-icon {
  color: currentColor;
  text-decoration: none;
  display: inline-flex;
  align-items: center; }
  a:link
svg, a:visited
svg, .btn-with-text-and-icon svg {
    width: 1.44rem;
    height: 1.44rem;
    margin-right: 0.5rem; }

button {
  cursor: pointer;
  font-family: 'Assistant', sans-serif;
  font-size: 1.6rem;
  color: currentColor;
  padding: 0;
  background-color: transparent;
  border: none; }

input[type=submit] {
  cursor: pointer; }

.highlight {
  color: var(--dark-mode);
  background-color: #FFC491;
  border-radius: 0.25rem; }

.header-main {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  padding: 0 5%;
  z-index: 1;
  background-color: var(--light-mode); }
  .header-main .header-responsive {
    height: 6.5rem;
    display: none; }
    .header-main .header-responsive .hamburger-icon svg {
      width: 2rem; }
    @media screen and (max-width: 750px) {
      .header-main .header-responsive {
        display: flex;
        align-items: center; } }
  .header-main nav {
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 750px) {
      .header-main nav {
        transform: translateX(0) !important; }
        .header-main nav .close-header-main {
          display: none; } }
    @media screen and (max-width: 750px) {
      .header-main nav {
        height: 100vh;
        width: 22.5rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--light-mode);
        box-shadow: 0.75rem 0.75rem 1.25rem rgba(0, 0, 0, 0.06);
        transform: translateX(100%);
        flex-direction: column;
        justify-content: start;
        align-items: start; }
        .header-main nav .nav-right {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start; }
          .header-main nav .nav-right a
, .header-main nav .nav-right button:not(:first-of-type) {
            margin: 2.5rem; }
          .header-main nav .nav-right a:first-of-type {
            margin-top: 5.5rem; }
          .header-main nav .nav-right .close-header-main {
            display: block;
            position: absolute;
            top: .5rem;
            left: 1rem;
            font-size: 3rem; }
        .header-main nav .nav-left button {
          margin: 2.5rem 2.5rem 0 0; } }
    .header-main nav .nav-right a {
      margin-left: 6rem; }
    .header-main nav .nav-right button {
      font-size: inherit; }
    .header-main nav .nav-left {
      display: flex;
      align-items: center;
      direction: ltr; }
      .header-main nav .nav-left button#accessibility-icon {
        width: 2.25rem; }
      .header-main nav .nav-left button#dark-mode-icon {
        width: 2.5rem; }
      .header-main nav .nav-left button:not(:last-of-type) {
        margin-right: 3rem; }

/* Headings Mark */
h1, h2 {
  position: relative;
  transform: translateX(-2rem); }

h1::before
, h2::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  padding: .2rem;
  border-radius: 5rem;
  background-color: #FFC491;
  transform: translateX(2rem); }

.btn
, .btn-inverse {
  font-size: 2rem;
  color: var(--dark-mode);
  padding: .75rem 2.5rem;
  background-color: #FFC491;
  border: none;
  border-radius: 0.5rem; }

.btn-inverse {
  color: #FFC491;
  padding: .3rem 1.8rem;
  background-color: transparent;
  border: 0.2rem solid #FFC491; }

/* Tech Card */
.tech-card {
  max-width: 32rem;
  display: flex;
  align-items: center;
  transform: translate(3.5rem, 1.2rem); }
  .tech-card .tech-details-list
, .tech-card .tech-details-paragraph {
    width: 32rem;
    height: 11rem;
    text-align: left;
    padding: 1rem 2rem;
    background-color: var(--light-mode-tech-card);
    border-radius: 1rem;
    box-shadow: 0.75rem 0.75rem 1.25rem rgba(0, 0, 0, 0.06); }
  .tech-card .tech-details-paragraph {
    text-align: right;
    padding: 1rem 6rem 1rem 2rem; }
  .tech-card .tech-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .tech-card .tech-id .tech-name {
      position: absolute;
      transform: translate(-3.5rem, -125%); }
    .tech-card .tech-id .tech-img {
      width: 7rem;
      height: 7rem;
      position: relative;
      border-radius: 0.5rem;
      transform: translateX(-3.5rem); }
      .tech-card .tech-id .tech-img.html {
        background-color: #F26449; }
      .tech-card .tech-id .tech-img.css {
        background-color: #69C3FF; }
      .tech-card .tech-id .tech-img.sass {
        background-color: #F489B4; }
      .tech-card .tech-id .tech-img.js {
        background-color: #FFB433; }
      .tech-card .tech-id .tech-img.nodejs {
        background-color: #76CF55; }
      .tech-card .tech-id .tech-img.sql {
        background-color: #D790ED; }
      .tech-card .tech-id .tech-img.adobe-xd {
        background-color: #F489B4; }
      .tech-card .tech-id .tech-img.ps {
        background-color: #69C3FF; }
      .tech-card .tech-id .tech-img.ai {
        background-color: #FFB433; }
      .tech-card .tech-id .tech-img.git {
        background-color: #F26449; }
      .tech-card .tech-id .tech-img svg {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #FFF; }
      .tech-card .tech-id .tech-img.nodejs svg {
        width: 55%; }
      .tech-card .tech-id .tech-img.js svg, .tech-card .tech-id .tech-img.adobe-xd svg, .tech-card .tech-id .tech-img.ps svg, .tech-card .tech-id .tech-img.ai svg, .tech-card .tech-id .tech-img.git svg {
        width: 60%; }
      .tech-card .tech-id .tech-img.sass svg {
        width: 70%; }

/* Homepage Project Card */
.homepage-project-card {
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  gap: 1rem 3rem;
  position: relative; }
  .homepage-project-card .heading {
    grid-area: 1/1/2/2; }
  .homepage-project-card .live-version {
    grid-area: 2/1/3/2; }
  .homepage-project-card p {
    grid-area: 2/2/3/3; }
  @media screen and (max-width: 1880px) {
    .homepage-project-card {
      display: block; }
      .homepage-project-card .heading
, .homepage-project-card .live-version {
        margin-bottom: 1rem; } }
  .homepage-project-card h4, .homepage-project-card p {
    margin: 0; }
  .homepage-project-card .heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    .homepage-project-card .heading h4 {
      font-size: 2rem; }
    .homepage-project-card .heading .view-code {
      padding: .2rem 1rem;
      color: var(--dark-mode); }
  .homepage-project-card .live-version {
    box-shadow: 0.75rem 0.75rem 1.25rem rgba(0, 0, 0, 0.06); }
  .homepage-project-card img {
    width: 100%; }

/* Resources Bubble */
.resources-bubble {
  width: 8rem;
  direction: ltr; }
  .resources-bubble a {
    display: inline-flex;
    flex-direction: column-reverse;
    text-align: center; }
    .resources-bubble a h4 {
      font-weight: 400; }
    .resources-bubble a svg
, .resources-bubble a img {
      width: 8rem;
      height: 8rem;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem; }
    .resources-bubble a img {
      object-fit: cover; }

.input-group label {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.5rem; }

.input-group input
, .input-group textarea {
  width: 100%;
  display: block;
  color: currentColor;
  font-size: inherit;
  padding: 1rem;
  border: 1px solid rgba(68, 68, 68, 0.25);
  border-radius: 0.5rem; }
  @media screen and (max-width: 550px) {
    .input-group input
, .input-group textarea {
      padding: .5em; } }

.input-group textarea {
  resize: none;
  font-family: inherit; }

.in-dev {
  position: relative; }
  .in-dev:hover::after, .in-dev:focus::after {
    content: "בשלבי פיתוח";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 110%);
    font-size: 1.6rem;
    font-family: 'Assistant', sans-serif;
    color: var(--dark-mode);
    background-color: #FFC491;
    padding: .25rem 1rem;
    border-radius: 0.25rem;
    white-space: nowrap; }

.modal-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center; }
  .modal-screen .homepage-contact-modal {
    flex-basis: 50rem;
    position: relative;
    background-color: var(--light-mode);
    padding: 3rem;
    padding-top: 6rem;
    border-radius: 0.5rem; }
    @media screen and (max-width: 750px) {
      .modal-screen .homepage-contact-modal {
        flex-basis: 100vw;
        height: 100vh;
        padding-left: 4.5rem;
        overflow-y: auto; } }
    .modal-screen .homepage-contact-modal .close-modal {
      position: absolute;
      top: .5rem;
      right: 1rem;
      font-size: 3rem;
      color: currentColor; }
    .modal-screen .homepage-contact-modal h2 {
      font-size: 6.4rem;
      line-height: .8;
      margin-bottom: 1.33333rem; }
    .modal-screen .homepage-contact-modal form .input-group {
      margin-bottom: 0.5rem; }
    .modal-screen .homepage-contact-modal form .textarea-group {
      margin-bottom: 2rem; }
    .modal-screen .homepage-contact-modal form .btn {
      padding: .75rem 5rem; }

body::-webkit-scrollbar {
  width: .5rem; }

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.06); }

body::-webkit-scrollbar-thumb {
  background-color: #FFC491;
  border-radius: 2.5rem; }

.homepage-grid {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  column-gap: 4rem;
  margin: 12rem 0; }
  @media screen and (max-width: 1380px) {
    .homepage-grid {
      grid-template-columns: 1fr; }
      .homepage-grid .homepage-tech {
        grid-area: 2/1/3/2; }
      .homepage-grid .homepage-projects {
        grid-area: 3/1/4/2; } }
  @media screen and (max-width: 750px) {
    .homepage-grid {
      margin: 6.5rem 0; } }
  .homepage-grid h1 {
    line-height: .75; }
  .homepage-grid .h1-secondary {
    display: block;
    font-size: 3.2rem; }
  .homepage-grid main p {
    max-width: 45rem; }
  .homepage-grid main .btn
, .homepage-grid main .btn-inverse {
    margin-left: 2rem; }
  .homepage-grid .homepage-tech
, .homepage-grid .homepage-projects {
    padding-top: 8rem; }
  @media screen and (max-width: 1380px) {
    .homepage-grid .homepage-resources {
      padding-top: 8rem; } }
  .homepage-grid .homepage-resources-heading
, .homepage-grid .homepage-projects-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .homepage-grid .homepage-resources-heading
a, .homepage-grid .homepage-projects-heading a {
      transform: translateY(50%); }
  .homepage-grid .homepage-resources ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
    @media screen and (max-width: 1580px) {
      .homepage-grid .homepage-resources ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center; } }
    @media screen and (max-width: 1380px) {
      .homepage-grid .homepage-resources ul {
        display: flex;
        justify-content: space-between; } }
    @media screen and (max-width: 750px) {
      .homepage-grid .homepage-resources ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); } }
  .homepage-grid .homepage-tech .tech-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 32rem);
    gap: 2rem; }
    @media screen and (max-width: 1380px) {
      .homepage-grid .homepage-tech .tech-cards-grid {
        grid-template-columns: repeat(3, 32rem);
        justify-content: space-between; } }
    @media screen and (max-width: 1130px) {
      .homepage-grid .homepage-tech .tech-cards-grid {
        grid-template-columns: repeat(2, 32rem);
        justify-content: start; } }
    @media screen and (max-width: 750px) {
      .homepage-grid .homepage-tech .tech-cards-grid {
        grid-template-columns: 1fr; } }
    .homepage-grid .homepage-tech .tech-cards-grid:not(:last-of-type) {
      margin-bottom: 4rem; }
  @media screen and (max-width: 1380px) {
    .homepage-grid .homepage-projects ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem; } }
  @media screen and (max-width: 750px) {
    .homepage-grid .homepage-projects ul {
      display: block; } }
  .homepage-grid .homepage-projects .homepage-project-card {
    margin-bottom: 4rem; }
    @media screen and (min-width: 1880px) {
      .homepage-grid .homepage-projects .homepage-project-card:nth-of-type(even) {
        direction: ltr; }
        .homepage-grid .homepage-projects .homepage-project-card:nth-of-type(even) .heading {
          flex-direction: row; }
        .homepage-grid .homepage-projects .homepage-project-card:nth-of-type(even) p {
          direction: rtl; } }
    @media screen and (max-width: 750px) {
      .homepage-grid .homepage-projects .homepage-project-card {
        margin-bottom: 8rem; }
        .homepage-grid .homepage-projects .homepage-project-card:last-of-type {
          margin-bottom: 0; } }
    .homepage-grid .homepage-projects .homepage-project-card:last-of-type {
      margin-bottom: 0; }

.dark-mode {
  background-color: var(--dark-mode);
  color: var(--dark-mode-text); }
  .dark-mode .header-main {
    background-color: var(--dark-mode); }
    @media screen and (max-width: 750px) {
      .dark-mode .header-main nav {
        background-color: var(--dark-mode); } }
  .dark-mode .tech-details-list
, .dark-mode .tech-details-paragraph
, .dark-mode .homepage-contact-modal {
    background-color: var(--dark-mode-tech-card) !important; }
  .dark-mode input:not([type=submit])
, .dark-mode textarea {
    background-color: var(--dark-mode);
    border: 1px solid rgba(255, 255, 255, 0.25); }

body.homepage, body.homepage .header-main
, body.homepage .header-main nav
, body.homepage .tech-details-list
, body.homepage .tech-details-paragraph
, body.homepage input:not([type=submit])
, body.homepage textarea {
  transition: background-color 175ms ease-in-out ,color 100ms ease; }

body.homepage .header-main .hamburger-icon svg {
  animation: slide-up 1000ms 200ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }

body.homepage .header-main nav {
  transition: transform 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  body.homepage .header-main nav .nav-right a:nth-of-type(1) {
    animation: slide-up 1000ms 200ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }
  body.homepage .header-main nav .nav-right a:nth-of-type(2) {
    animation: slide-up 1000ms 400ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }
  body.homepage .header-main nav .nav-right a:nth-of-type(3) {
    animation: slide-up 1000ms 600ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }
  body.homepage .header-main nav .nav-right button {
    animation: slide-up 1000ms 800ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }
  body.homepage .header-main nav .nav-left button:nth-of-type(1) {
    animation: slide-up 1000ms 1000ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }
  body.homepage .header-main nav .nav-left button:nth-of-type(2) {
    animation: slide-up 1000ms 1200ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }

body.homepage .discover-btn:hover
svg, body.homepage .discover-btn:focus
svg, body.homepage .go-to-page:hover svg, body.homepage .go-to-page:focus svg {
  transform: rotateZ(360deg);
  transition: transform 1000ms cubic-bezier(0.34, 1.56, 0.64, 1); }

body.homepage main h1 {
  animation: fade-in 600ms 700ms ease-in backwards; }

body.homepage main p {
  animation: clip-path-rtl 1250ms 700ms cubic-bezier(0.785, 0.135, 0.15, 0.86) backwards, slide-left 1250ms 700ms cubic-bezier(0.785, 0.135, 0.15, 0.86) backwards; }

body.homepage main button {
  animation: slide-up 1500ms 1450ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }

body.homepage main .discover-btn {
  animation: slide-up 1500ms 1650ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }

body.homepage .homepage-tech
, body.homepage .homepage-resources
, body.homepage .homepage-projects {
  animation: slide-left 1750ms 1250ms cubic-bezier(0.34, 1.56, 0.64, 1) backwards; }

body.homepage .btn {
  transition: transform 150ms ,box-shadow 100ms; }
  body.homepage .btn:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.06); }
  body.homepage .btn:active {
    transform: translateY(0);
    box-shadow: none; }

body.homepage .in-dev:hover::after
, body.homepage .in-dev:focus::after {
  animation: fade-in 150ms; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes scale-out {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(0.9); } }

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(2rem); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes clip-path-rtl {
  from {
    opacity: 0;
    clip-path: inset(0 0 0 100%); }
  65% {
    opacity: 1; }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0); } }
