/* Layout */
/* Colors */
:root {
  --light-mode: #FFF;
  --light-mode-text:#444;
  --light-mode-card:#FDFDFD;
  --dark-mode:      #222;
  --dark-mode-text: #FFF;
  --dark-mode-card: #242424; }

/* Typography */
/* Effects */
/* Animations */
body, header, nav, div, a, svg
, h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  font-size: 10px; }

body {
  position: relative;
  padding: 0 5%;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--light-mode-text);
  direction: rtl;
  background-color: var(--light-mode); }

h1 {
  font-size: 9.6rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 2.4rem; }

h1, h2, h3, h4 {
  font-weight: 900; }

a:link
, a:visited {
  color: var(--light-mode-text);
  text-decoration: none; }

.box {
  width: 200px;
  height: 200px;
  box-shadow: 1rem 1rem 1.5rem #0000001a;
  animation: rotate 4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards infinite; }

@keyframes rotate {
  0% {
    transform: rotateZ(0); }
  25% {
    transform: rotateZ(360deg); }
  100% {
    transform: rotateZ(360deg); } }

.header-main {
  /*
    position: fixed;
    top: 0;
    left: 0%;
    right: 0%;
    padding: 0 $screen-padding;
    */
  background-color: var(--light-mode); }
  .header-main nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header-main nav .nav-right a:not(:last-of-type) {
      margin-left: 10rem; }
    .header-main nav .nav-left {
      display: flex;
      align-items: center;
      direction: ltr; }
      .header-main nav .nav-left svg {
        cursor: pointer; }
        .header-main nav .nav-left svg#dark-mode-icon {
          width: 2.5rem; }
        .header-main nav .nav-left svg:not(:last-of-type) {
          margin-right: 5rem; }
