.btn
,.btn-inverse {
    font-size: $h3-font-size;
    color: var(--dark-mode);
    
    padding: .75rem 2.5rem;
    background-color: $brand;
    border: none;
    border-radius: $main-border-radius;
}

.btn-inverse {
    color: $brand;
    padding: .3rem 1.8rem;
    background-color: transparent;
    border: .2rem solid $brand;
}