.btn {
    cursor: pointer;

    font-size: $main-font-size;
    color: var(--light-mode-text);
    
    padding: .5rem 2rem;
    background-color: $brand;
    border: none;
    border-radius: $main-border-radius;
}