.btn
,.btn-inverse {
    cursor: pointer;

    font-size: $main-font-size;
    color: var(--light-mode-text);
    
    padding: .5rem 2rem;
    background-color: $brand;
    border: none;
    border-radius: $main-border-radius;
}

.btn-inverse {
    color: $brand;
    padding: .3rem 1.8rem;
    background-color: transparent;
    border: .2rem solid $brand;
}