/* Tech Card */
    $tech-cards-width: 32rem;
    $tech-cards-height: 11rem;
    $tech-card-translateX: 3.5rem;

    .tech-card {
        max-width: $tech-cards-width;

        display: flex;
        align-items: center;

        transform: translate($tech-card-translateX, 1.2rem);

        .tech-details-list
        ,.tech-details-paragraph {
            width: $tech-cards-width;
            height: $tech-cards-height;

            text-align: left;

            padding: 1rem 2rem;
            background-color: var(--light-mode-tech-card);
            border-radius: $main-border-radius * 2;
            box-shadow: $box-shadow;
        }

        .tech-details-paragraph {
            text-align: right;
            padding: 1rem 6rem 1rem 2rem;
        }

        .tech-id {
            display: flex;
            flex-direction: column;
            align-items: center;

            position: relative;

            .tech-name {
                position: absolute;
                transform: translate(-$tech-card-translateX, -125%);
            }

            .tech-img {
                width: 7rem;
                height: 7rem;

                position: relative;

                border-radius: $main-border-radius;

                transform: translateX(-$tech-card-translateX);

                &.html          {background-color: $red;}
                &.css           {background-color: $blue;}
                &.sass          {background-color: $pink;}
                &.js            {background-color: $yellow;}
                &.nodejs        {background-color: $green;}
                &.sql           {background-color: $purple;}
                &.adobe-xd      {background-color: $pink;}
                &.ps            {background-color: $blue;}
                &.ai            {background-color: $yellow;}
                &.git           {background-color: $red;}

                svg {
                    width: 50%;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    fill: #FFF;
                }

                &.nodejs {
                    svg {
                        width: 55%;
                    }
                }

                &.js
                ,&.adobe-xd
                ,&.ps
                ,&.ai
                ,&.git {
                    svg {
                        width: 60%;
                    }
                }

                &.sass {
                    svg {
                        width: 70%;
                    }
                }
            }
        }
    }

/* Homepage Project Card */
    .homepage-project-card {
        display: grid;
        grid-template-columns: 0.65fr 0.35fr;
        gap: $main-components-gap / 2 $main-components-gap * 1.5;

        position: relative;

        .heading    {grid-area: 1/1/2/2;}
        a           {grid-area: 2/1/3/2;}
        p           {grid-area: 2/2/3/3;}

        @include respond(max-width, $breakpoint-2) {
            display: block;
            
            .heading
            ,a {
                margin-bottom: $main-components-gap / 2;
            }
        }

        h4,p {margin: 0;}

        .heading {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            h4 {font-size: $h3-font-size;}

            aside {padding: .2rem 1rem;}
        }

        a {box-shadow: $box-shadow;}
        img {width: 100%;}
    }
