body {
    &::-webkit-scrollbar {
        width: .5rem;
    }

    &::-webkit-scrollbar-track {
        background-color: $shadow;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $brand;
        border-radius: $main-border-radius * 5;
    }
}