body, header, nav, div, a, svg
main, section, article, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
}

body {
    position: relative;
    overflow-x: hidden;

    padding: 0 $screen-gap;
    margin: auto;
    box-sizing: border-box;

    font-family: 'Assistant', sans-serif;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    color: var(--light-mode-text);

    direction: rtl;

    background-color: var(--light-mode);
}

h1 {font-size: $h1-font-size;}
h2 {font-size: $h2-font-size;}
h3 {font-size: $h3-font-size;}
h4 {font-size: $h4-font-size;}

h1,h2,h3,h4 {
    font-weight: $heading-font-weight;
    margin-bottom: $main-components-gap * 2;
}

a:link
,a:visited {
    color: var(--light-mode-text);
    text-decoration: none;
}