body, header, nav, div, a, svg
,h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
}

body {
    position: relative;

    padding: 0 $screen-padding;
    margin: auto;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    color: var(--light-mode-text);

    direction: rtl;

    background-color: var(--light-mode);
}

h1 {font-size: $h1-font-size;}
h2 {font-size: $h2-font-size;}
h3 {font-size: $h3-font-size;}
h4 {font-size: $h4-font-size;}

h1,h2,h3,h4 {font-weight: $heading-font-weight;}

a:link
,a:visited {
    color: var(--light-mode-text);
    text-decoration: none;
}

.box {
    width: 200px;
    height: 200px;
    box-shadow: $box-shadow;
    animation: rotate 4s $easing-function forwards infinite;
}

@keyframes rotate {
    0% {transform: rotateZ(0);}
    25% {transform: rotateZ(360deg);}
    100% {transform: rotateZ(360deg);}
}