body, header, nav, div, a, svg
main, section, article, aside
,h1, h2, h3, h4, p, ul, li, button
,form, input, textarea {
    padding: 0;
    margin: 0;
    box-sizing: inherit;

    &:focus {
        outline: 2px solid rgba($brand,.5);
    }
}

:root {
    font-size: 10px;
}

body {
    position: relative;

    box-sizing: border-box;

    font-family: 'Assistant', sans-serif;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    color: var(--light-mode-text);

    direction: rtl;

    background-color: var(--light-mode);
}

.body-container {
    padding: 0 $screen-gap;
    margin: auto;
}

h1 {font-size: $h1-font-size;}
h2 {font-size: $h2-font-size;}
h3 {font-size: $h3-font-size;}
h4 {font-size: $h4-font-size;}

h1,h2,h3,h4 {
    font-weight: $heading-font-weight;
    margin-bottom: $main-components-gap * 2;
}

h3,h4 {
    margin-bottom: $main-components-gap / 2;
}

p {
    margin-bottom: $main-components-gap;
}

a:link
,a:visited {
    color: currentColor;
    text-decoration: none;

    display: inline-flex;
    align-items: center;

    svg {
        width: $main-font-size * 0.9;
        height: $main-font-size * 0.9;
        margin-right: $main-components-gap / 4;
    }
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    
    color: currentColor;
    padding: 0;
    background-color: transparent;
    border: none;
}

input[type=submit] {cursor: pointer;}

.highlight {
    color: var(--dark-mode);
    background-color: $brand;
    border-radius: $main-border-radius / 2;
}