/* Layout */
    $screen-gap: 5%;
    $main-components-gap: 2rem;

/* Colors */
    :root {
        --light-mode: #FFF;
        --light-mode-text:#444;
        --light-mode-tech-card:#FDFDFD;

        --dark-mode:      #222;
        --dark-mode-text: #FFF;
        --dark-mode-tech-card: #242424;
    }

    $brand:          #FFC491;

    $red:            #F26449;
    $blue:           #69C3FF;
    $yellow:         #FFB433;
    $pink:           #F489B4;
    $green:          #76CF55;
    $purple:         #D790ED;

    $shadow:                        rgba(0, 0, 0, .06);
    $modal-screen:                  rgba(0, 0, 0, 0.75);
    $form-border-color: rgba(68, 68, 68, .25);

/* Typography */
    $main-font-size: 1.6rem;

    $h1-font-size: $main-font-size * 6;
    $h2-font-size: $main-font-size * 2;
    $h3-font-size: $main-font-size * 1.25;
    $h4-font-size: $main-font-size * 1;

    $main-font-weight: 400;
    $heading-font-weight: 700;

/* Effects */
    $main-border-radius: .5rem;
    $box-shadow: 0.75rem 0.75rem 1.25rem $shadow;

/* Animations */
    $easing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    $easing-function-2: cubic-bezier(0.785, 0.135, 0.15, 0.86);