/* Layout */
    $screen-padding: 5%;

/* Colors */
    :root {
        --light-mode: #FFF;
        --light-mode-text:#444;
        --light-mode-card:#FDFDFD;

        --dark-mode:      #222;
        --dark-mode-text: #FFF;
        --dark-mode-card: #242424;
    }

    $brand:          #FFC491;

    $red:            #F26449;
    $blue:           #69C3FF;
    $yellow:         #FFB433;
    $pink:           #F489B4;
    $green:          #76CF55;
    $purple:         #D790ED;

    $shadow:         #0000001a;

/* Typography */
    $main-font-size: 1.6rem;

    $h1-font-size: $main-font-size * 6;
    $h2-font-size: $main-font-size * 2.25;
    $h3-font-size: $main-font-size * 1;
    $h4-font-size: $main-font-size * 1.5;

    $main-font-weight: 400;
    $heading-font-weight: 900;

/* Effects */
    $main-border-radius: .5rem;
    $box-shadow: 1rem 1rem 1.5rem $shadow;

/* Animations */
    $easing-function: cubic-bezier(0.34, 1.56, 0.64, 1);