.homepage-grid {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    column-gap: $main-components-gap * 2;

    margin: ($main-components-gap * 6) 0;

    h1 {line-height: .75;}
    .h1-secondary {
        display: block;
        font-size: $h2-font-size;
    }

    main {
        p {
            min-width: 25rem;
            max-width: 45rem;
        }
        
        .btn
        ,.btn-inverse {
            margin-left: $main-components-gap;
        }
    }

    .homepage-tech
    ,.homepage-projects {
        padding-top: $main-components-gap * 4;
    }

    .homepage-resources-heading
    ,.homepage-projects-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        a {transform: translateY(50%);}
    }

    .homepage-resources {
        ul {
            display: flex;
            justify-content: space-between;
            
            // display: grid;
            // grid-template-columns: repeat(6, 1fr);
            // justify-items: center;

            margin-bottom: $main-components-gap;
        }
    }

    .homepage-tech {
        .tech-cards-grid {
            display: grid;
            grid-template-columns: repeat(2, $tech-cards-width);
            gap: $main-components-gap;

            &:not(:last-of-type) {
                margin-bottom: $main-components-gap * 2;
            }
        }
    }

    .homepage-projects {
        .homepage-project-card {
            margin-bottom: $main-components-gap * 2;

            &:nth-of-type(even) {
                direction: ltr;
    
                .heading {flex-direction: row;}

                p {direction: rtl;}
            }

            &:last-of-type {
                margin-bottom: $main-components-gap * 4;
            }
        }
    }
}