.homepage-grid {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    column-gap: $main-components-gap * 2;

    margin: ($main-components-gap * 6) 0;

    @include respond(max-width, $breakpoint-4) {
        grid-template-columns: 1fr;

        .homepage-tech      {grid-area: 2/1/3/2}
        .homepage-projects      {grid-area: 3/1/4/2}
    }

    @include respond(max-width, $breakpoint-6) {
        margin: ($main-components-gap * 4.5) 0;
    }

    h1 {line-height: .75;}
    .h1-secondary {
        display: block;
        font-size: $h2-font-size;
    }

    main {
        p {max-width: 45rem;}
        
        .btn
        ,.btn-inverse {
            margin-left: $main-components-gap;
        }
    }

    .homepage-tech
    ,.homepage-projects {
        padding-top: $main-components-gap * 4;
    }

    .homepage-resources {
        @include respond(max-width, $breakpoint-4) {
            padding-top: $main-components-gap * 4;
        }
    }

    .homepage-resources-heading
    ,.homepage-projects-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        a {transform: translateY(50%);}
    }

    .homepage-resources {
        ul {
            display: flex;
            justify-content: space-between;

            margin-bottom: $main-components-gap;

            @include respond(max-width, $breakpoint-3) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
            }

            @include respond(max-width, $breakpoint-4) {
                display: flex;
                justify-content: space-between;
            }

            @include respond(max-width, $breakpoint-6) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    .homepage-tech {
        .tech-cards-grid {
            display: grid;
            grid-template-columns: repeat(2, $tech-cards-width);
            gap: $main-components-gap;

            @include respond(max-width, $breakpoint-4) {
                grid-template-columns: repeat(3, $tech-cards-width);
                justify-content: space-between;
            }

            @include respond(max-width, $breakpoint-5) {
                grid-template-columns: repeat(2, $tech-cards-width);
                justify-content: start;
            }

            @include respond(max-width, $breakpoint-6) {
                grid-template-columns: 1fr;
            }

            &:not(:last-of-type) {
                margin-bottom: $main-components-gap * 2;
            }
        }
    }

    .homepage-projects {        
        @include respond(max-width, $breakpoint-4) {
            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: $main-components-gap * 2;
            }
        }

        @include respond(max-width, $breakpoint-6) {
            ul {display: block;}
        }

        .homepage-project-card {
            margin-bottom: $main-components-gap * 2;

            @include respond(min-width, $breakpoint-2) {
                &:nth-of-type(even) {
                    direction: ltr;
    
                    .heading {flex-direction: row;}
                    p        {direction: rtl;}
                }
            }

            @include respond(max-width, $breakpoint-6) {
                margin-bottom: $main-components-gap * 4;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}