.homepage-grid {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    gap: ($main-components-gap * 4) ($main-components-gap * 2);

    margin: ($main-components-gap * 6) 0;

    h1 {line-height: .75;}
    .h1-secondary {
        display: block;
        font-size: $h2-font-size;
    }

    main {
        p {
            min-width: 25rem;
            max-width: 45rem;
        }
        
        .btn {
            margin-left: $main-components-gap;
        }
    }

    .homepage-resources-heading
    ,.homepage-projects-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        a {transform: translateY(50%);}
    }

    .homepage-resources {
        ul {
            display: flex;
            justify-content: space-between;

            margin-bottom: $main-components-gap;
        }
    }

    .homepage-tech {
        .tech-cards-grid {
            display: grid;
            grid-template-columns: repeat(2, $tech-cards-width);
            gap: $main-components-gap;

            &:not(:last-of-type) {
                margin-bottom: $main-components-gap * 2;
            }
        }
    }
}